<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <suite-files>
        <suite-file path="bmisuite.xml"/>
        <suite-file path="grouptest.xml"/>
        <suite-file path="multigrouptest.xml"/>
        <suite-file path="parallelclasstest.xml"/>
        <suite-file path="paralleltestmethod.xml"/>
        <suite-file path="filtertest.xml"/>
    </suite-files>
</suite> <!-- Suite -->